<h2>Ingé Calc</h2>

<form [formGroup]="paramsFormGroup">
  <ul class="wrapper">
    <li *ngFor="let prop of properties | keyvalue | filter: false">
      <ng-container *ngIf="!isDependent(prop.key)">
        <label [ngClass]="{ calculated: isDependent(prop.key) }"
          >{{ prop.key }}
        </label>
        <input
          [ngClass]="{ calculated: isDependent(prop.key) }"
          formControlName="{{ prop.key }}"
      /></ng-container>
    </li>
  </ul>

  <hr />
  <hr />
  <hr />

  <ul class="wrapper">
    <li *ngFor="let prop of properties | keyvalue | filter: true">
      <ng-container *ngIf="isDependent(prop.key)">
        <label [ngClass]="{ calculated: isDependent(prop.key) }"
          >{{ prop.key }}
        </label>
        <input
          [ngClass]="{ calculated: isDependent(prop.key) }"
          formControlName="{{ prop.key }}"
          [readonly]="true"
      /></ng-container>
    </li>
  </ul>
</form>
